#Rectangl {
  float: left;
  width: 750px;
  height: 300px;
  margin: 0 0 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  border-radius: 15px 0 0 15px;
}
#Rectangl h4 {
  font-size: 40px;
  line-height: 47px;
  margin: 0 0 0 0;
  padding: 20px 0 0 33px;
}
#Rectangl h6 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 0 0;
  padding: 5px 0 0 33px;
}
#Rectangl ul {
  list-style: none;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 0 0;
  padding: 15px 0 0 33px;
}
#Rectangl ul div {
  margin: auto;
}
#Rectangl ul div .Emails:before {
  content: url("../images/EmailIcon.png");
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#Rectangl ul div .Phones:before {
  content: url("../images/PhoneIcon.png");
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#Rectangl #MyContacts {
  display: flex;
  flex-direction: row;
}
#Rectangl #MyContacts div:nth-child(-n+3) {
  width: 51px;
  height: 51px;
  border-radius: 60%;
  margin: 20px 0 20px 15px;
  background-color: #FFFFFF;
  transition: all 0.3s;
}
#Rectangl #MyContacts div:first-child {
  margin: 0 0 0 0;
  margin: 20px 0 20px 33px;
  transition: all 0.2s;
}
#Rectangl #MyContacts div:hover {
  background-color: #666666;
  transform: rotate(360deg);
}

#myPhoto {
  float: right;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  width: 250px;
  height: 300px;
  border-radius: 0 15px 15px 0;
}

#myPhoto img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  width: 250px;
  height: 300px;
  border-radius: 0 15px 15px 0;
}

#NavBarStart {
  float: left;
}
#NavBarStart ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 0 15px;
  padding: 0;
  overflow: hidden;
}
#NavBarStart ul li {
  cursor: pointer;
  padding: 24px 33px 24px 33px;
}
#NavBarStart ul li:first-child {
  margin: 0 0 0;
}
#NavBarStart ul li:hover {
  background-color: #111;
}

#NavBarEnd {
  float: right;
}
#NavBarEnd ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 24px;
  line-height: 28px;
  margin: 0 15px 0 0;
  padding: 0;
  overflow: hidden;
}
#NavBarEnd ul li {
  cursor: pointer;
  padding: 24px 33px 24px 33px;
}
#NavBarEnd ul li:hover {
  background-color: #111;
}

#mainBox {
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  height: 330px;
  margin: 0 0 5px 0;
  border-radius: 15px;
}
#mainBox .paragraph {
  padding: 10px 0 10px 0;
  text-align: center;
}
#mainBox .paragraph a {
  font-size: 36px;
  line-height: 42px;
}
#mainBox .text-area {
  text-align: center;
}
#mainBox .text-area a {
  font-size: 24px;
  line-height: 28px;
}

#mySkills {
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  height: 330px;
  margin: 0 0 5px 0;
  border-radius: 15px;
}
#mySkills .paragraph {
  padding: 10px 0 10px 0;
  text-align: center;
}
#mySkills .paragraph a {
  font-size: 36px;
  line-height: 42px;
}
#mySkills #skills_and_description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#mySkills #skill_list {
  display: flex;
  flex-direction: column;
}
#mySkills #more_details_window {
  width: 512px;
  height: 242px;
  background: linear-gradient(90deg, #365FE8 0%, #B92EED 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 41px;
}
#mySkills .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
#mySkills .skill div {
  margin-right: 15px;
}
#mySkills .skill .moreInfo {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: all 0.3s;
}
#mySkills .skill .moreInfo:hover {
  transform: rotate(180deg);
}
#mySkills .skill div:first-child {
  margin-left: 33px;
}
#mySkills .skill .progressBar {
  width: 250px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 30px;
}
#mySkills .skill .progressBar .progress {
  background: linear-gradient(90deg, #365FE8 0%, #B92EED 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
  margin: 0 0 0 0;
}
#mySkills .skill .progressBar .progress a {
  font-size: 12px;
  line-height: 14px;
}

#loadForm {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #72086D;
  height: 330px;
}
#loadForm .loadRectangle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  margin: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(46.5% 44.42% at 49.5% 50%, #425BE9 0%, #AF32ED 100%), radial-gradient(50% 3612.5% at 50% 100%, #365FE8 0%, #B92EED 100%);
  box-sizing: border-box;
}
#loadForm .loadRectangle p {
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

#myPortfolio {
  background-color: #72086D;
  height: 330px;
}

body {
  width: 1000px;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

header {
  padding-top: 2px;
}
header #AboutMe {
  width: 1000px;
}
header #AllNavBar {
  margin: 5px 0 5px 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  width: 1000px;
  border-radius: 15px;
}

/*# sourceMappingURL=main.css.map */
