#Rectangl {
  float: left;
  width: $width-page - 250px;
  height: 300px;
  margin: 0 0 0 0;
  background: linear-gradient(180deg, #636363 0%, #484848 100%);
  border-radius: 15px 0 0 15px;
  h4{
    font-size: 40px;
    line-height: 47px;
    margin: 0 0 0 0;
    padding: 20px 0 0 33px;
  }
  h6{
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 0 0;
    padding: 5px 0 0 33px;
  }
  ul{
    list-style: none;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 0 0;
    padding: 15px 0 0 33px;
    div{
      margin:auto;
      li{
      }
      .Emails:before{
        content: url("../images/EmailIcon.png");
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .Phones:before{
        content: url("../images/PhoneIcon.png");
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
  #MyContacts{
    display: flex;
    flex-direction: row;
    div:nth-child(-n+3){
      width: 51px;
      height: 51px;
      border-radius: 60%;
      margin: 20px 0 20px 15px;
      background-color: #FFFFFF;
      transition: all .3s;
    }
    div:first-child{
      margin: 0 0 0 0;
      margin: 20px 0 20px 33px;
      transition: all .2s;
    }
    div:hover{
      background-color: #666666;
      transform: rotate(360deg);
    }
  }
}