$width-page: 1000px;
$text-font-family: Roboto;
$text-font-style: normal;
$text-font-weight: normal;
$text-color: #FFFFFF;
@import "_rectangl.scss";
@import "_myPhoto.scss";
@import "_navBarStart.scss";
@import "_navBarEnd.scss";
@import "_mainBox.scss";
@import "_mySkills.scss";
body {
  width: $width-page;
  margin: auto;
  font-family: $text-font-family;
  font-style: $text-font-style;
  font-weight: $text-font-weight;
  color: $text-color;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header {
  #AboutMe {
    width: $width-page;
  }
  #AllNavBar{
    margin: 5px 0 5px 0;
    background-color: #72086D;
    width: $width-page;
  }
}