$width-page: 1000px;
$text-font-family: Roboto;
$text-font-style: normal;
$text-font-weight: normal;
$text-color: #FFFFFF;
@import "_rectangl.scss";
@import "_myPhoto.scss";
@import "_navBarStart.scss";
@import "_navBarEnd.scss";
@import "_mainBox.scss";
@import "_mySkills.scss";
@import "_loadForm.scss";
@import "_myPortfolio.scss";
body {
  width: $width-page;
  margin: auto;
  font-family: $text-font-family;
  font-style: $text-font-style;
  font-weight: $text-font-weight;
  color: $text-color;
  background-image: url("../images/background.jpg");
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header {
  padding-top: 2px;
  #AboutMe {
    width: $width-page;
  }
  #AllNavBar{
    margin: 5px 0 5px 0;
    background: linear-gradient(180deg, #636363 0%, #484848 100%);
    width: $width-page;
    border-radius: 15px;
  }
}